
<div class='panel panel-default'>
	<div class='panel-heading'>
		<h2>Товары</h2>
	</div>
	<div class='panel-body'>
		<div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			{{msg}}
		</div>
		<button *ngIf="!isFormShow" class="btn btn-primary" (click)="showForm()">Создать новую запись</button>
		<creategoods-comp *ngIf="isFormShow" (onRefresh)="onRefresh($event)"></creategoods-comp>
		<table class="table table-striped" [mfData]="goods" #mf="mfDataTable" [mfRowsOnPage]="5">
			<thead>
				<tr>
					<th style="width: 40%">
						<mfDefaultSorter by="Name">Наименование</mfDefaultSorter>
					</th>
					<th style="width: 50%">
						<mfDefaultSorter by="Description">Описание</mfDefaultSorter>
					</th>
					<th style="width: 10%">
						<mfDefaultSorter by="Price">Цена</mfDefaultSorter>
					</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of mf.data">
					<td>{{item.Name}}</td>
					<td>{{item.Description}}</td>
					<td class="text-right">{{item.Price}}</td>
					<td>
						<button title="Редактировать" class="btn btn-primary" (click)="editGoods(item.Id)">Редактировать</button>
					</td>
					<td>
						<button title="Удалить" class="btn btn-danger" (click)="deleteGoods(item.Id)">Удалить</button>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4">
						<mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

<modal #modal>
	<form novalidate (ngSubmit)="onSubmit(goodsForm)" [formGroup]="goodsForm">
		<modal-header [show-close]="true">
			<h4 class="modal-title">{{modalTitle}}</h4>
		</modal-header>
		<modal-body>

			<div class="form-group">
				<div class="form-group row">
					<label class="col-md-4 control-label" for="nameInput">Наименование</label>
					<div class="col-md-8">
						<input class="form-control" id="nameInput" type="text" placeholder="Наменование" formControlName="Name" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-4 control-label" for="descrInput">Описание</label>
					<div class="col-md-8">
						<textarea class="form-control" rows="4" id="descrInput" type="text" placeholder="Описание" formControlName="Description"></textarea>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-4 control-label" for="priceInput">Цена</label>
					<div class="col-md-8">
						<input class="form-control" id="priceInput" type="number" placeholder="Цена" formControlName="Price" />
					</div>
				</div>
			</div>
		</modal-body>
		<modal-footer>
			<div>
				<a class="btn btn-default" (click)="modal.dismiss()">Отмена</a>
				<button type="submit" [disabled]="goodsForm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
			</div>
		</modal-footer>
	</form>
</modal>
